.section-about {
  background-color: $color-grey-light-1;
  padding: 35rem 0;
  margin-top: -28rem;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -15rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 30rem 0 15rem 0;
  margin-top: -15rem;
}

.section-stories {
  padding: 15rem 0;
  background-color: $color-grey-light-1;
}
